page-thankyou {
	.tick{
		border: 1px solid #24b47e;
	    border-radius: 50%;
	    padding: 3px 7px;
	}
	.colorgrn{
		color: #24b47e;
	}
	.dispib{
		display: inline-block;
	}
	.width10{
		width: 10%;
	}
	.width85{
		width: 85%;
	}
}
