<ion-header>

  <ion-navbar>
    <ion-title>settings</ion-title>
  </ion-navbar>
  <ion-toolbar class="sub-header">
    <ion-row>
        <ion-col col-6>
            <div class="app-header-setting-area">
                <label class="title">Settings</label>
            </div>
        </ion-col>
    </ion-row>
  </ion-toolbar>

</ion-header>


<ion-content padding>

<ion-list inset *ngIf="showListContent == true">
	<ion-item detail-push (click)="profileSettingPage()">Your Profile</ion-item>
	<ion-item detail-push (click)="projectBillingPage()" *ngIf="userAuthData.role == '1'">Projects &amp; Billing</ion-item>
	<ion-item detail-push (click)="affiliate()">Affiliate</ion-item>
	<ion-item detail-push (click)="subscription()">Subscriptions</ion-item>
</ion-list>
</ion-content>
