page-likes {
	.ion-card-likes .view{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        h2.likes-title{
		        font-size: 1.5rem;
		        font-weight: 400;
		        color: map-get($colors,content-text-black);
		        font-family: Open sans regular; 
    		}
    	.app-operation{
    		.likes-content{
    			font-family: Open Sans regular;
	            font-size: 1.5rem;
	            font-weight: 400; 
	            color:map-get($colors,content-text-black);
    		}
    	}
    	a.add-comment-link {
            color: map-get($colors,content-color-light-sky);
            font-size: 1.5rem;
            font-family: Open Sans regular;
            padding-left: 15px;
            padding-bottom: 10px;
        } 	
    }

    .card {
        margin: 3px;
    }
    ion-icon.icon-heart{
       font-size: 2.5rem;
    }
}
